name: Lint

on:
  push:
    branches: [ "main", "gnome43-44" ]
  pull_request:
    branches: [ "main", "gnome43-44" ]
  schedule:
    - cron: '0 4 * * 1'
  workflow_dispatch:

jobs:
  eslint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Run ESLint
        run: |
          npx -y eslint@9.14.0 extension.js prefs.js || true
